/* StudentTable.css */
.studentTable {

  .navigation {
    min-height: 2.5rem;
    max-height: 2.5rem;

    button {
      justify-content: center;
    }
  }

  body {
    font-family: Arial, sans-serif;
  }

  th {
    background-color: #AD171C !important;
    color: #ffff;
  }

  h1 {
    text-align: center;
    color: black;
    margin: 30px;
  }

  table {
    border-radius: 30px;
    width: 70%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 60px auto; // Center the table horizontally  
  }

  .getPDF {
    background-color: #cf443a;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-left: 73%;

    button {
      font-weight: 600;
      background-color: #cf443a;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      font-size: small;
    }
  }



  .searchBar {
    display: flex;
    justify-content: center;
    margin: 20px;
  }

  .filterBar {
    border: 1px solid #ccc;
    height: 30px;
    outline: none;
    margin-left: 70%;
  }

  .filterBar:hover,
  .filterBar:focus {
    border: 1px solid #cf443a;
    transition: 0.3s;
  }

  .container {
    max-width: calc(100vw - 48px);
    width: 1170px;
    margin: 50px auto;
    padding: 100px;
    background-color: #ffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}