.toggle-password-icon {
  color: #586380;
  position: absolute;
  top: 70%;
  right: 2rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.header-of-password {
  position: relative;
}

.forgot-password {
  font-size: 14px;
  text-align: right;
  display: block;
  margin-top: 0px;
  color: blue;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.forgot-password:hover {
  text-decoration: underline;
}