.auth-page-container {
    display: flex;
    height: 100vh;

    body,
    html {
        height: 100%;
        margin: 0;
    }

    .auth-form-container {
        display: flex;
        width: 100%;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        background-image: url(https://xettuyen.ptit.edu.vn/static/PTIT_Cover2.e8620eb0.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .form-box {
        width: 60%;
        height: 100%;
        border: 2px solid red;
        background-color: #fff;
        border-radius: 1rem;
    }

    .auth-tabs {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        margin: 0 2rem;
        background-color: inherit;
        border-radius: 1rem;
    }

    .auth-tabs button {
        padding: 2rem 2rem;
        margin-bottom: 1rem;
        background-color: #fff;
        border: none;
        cursor: pointer;
        font-size: 1.5rem;
        color: #586380;
        border-radius: .5rem;

    }

    .auth-tabs button.active {
        color: #000;
        font-weight: bold;
        border-bottom: 5px solid red;
    }

    .auth-form {
        max-width: 100%;
        margin: 2rem;
        padding: 1rem;
    }
}